<div class="modal-header">
    <h3 class="modal-title">Help</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-2">
            <div class="legend-small legend container-fluid collapse in">
                <legend-item topic="{id: 0, color: '#A85B81', text: 'Topic', 'unread': '# Unread'}"></legend-item>
            </div>
        </div>
        <div class="col-xs-10">
            <p class="well well-sm">Discussion topics can be clicked to change which topic to view. This is shown to the left as "Topic". The color of the box next to Topic Title cooresponds with each box in Nebula, representing a question to answer or converse about.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="well well-sm">Hover over items below to see how they work. You can click and drag on the Nebula background to move the chart around. You can also use your scroll wheel or gesture to zoom in and out of the entire Nebula.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <network-graph-help data="help_data" params="network_params"></network-graph-help>
            <p class="well well-sm">You can drag posts (circles) to rearrange them. You can also click and drag the questions, but only horizontally. Simply clicking either posts (circles) or questions (boxes) will show the post contents and allow you to reply.</p>
        </div>
    </div>
</div>