<div class="legend-item row" ng-click="topic.loadTopic(topic.id)" ng-class="">
    <div class="legend-box" ng-style="{'background': topic.color}">
    </div>
    <div class="legend-text">
        {{topic.short_name}}
    </div>
    <div ng-show="topic.assignment_id != null" class="due-date">
        Due: {{topicsdue[topic.assignment_id] | date:medium}} at {{topicsdue[topic.assignment_id] | date:'hh:mm:ss a'}}
    </div>
</div>