<div class="modal-header">
    <h3 class="modal-title">Reply to {{map[reply.id].obj.user_name}}</h3>
</div>
<div class="modal-body">
    <div id="replylist">
        <reply map="map" like="like" reply="reply" replyid="reply.id" credentials="credentials" saveedit="save_edit" ng-repeat="reply in list.slice().reverse()"></reply>
        <reply map="map" like="like" reply="reply" tmceo="tinymceOptions" replyid="reply.id" credentials="credentials" saveedit="save_edit"></reply>
    </div>
    <br/>
    <label>Your response:</label>
    <textarea ui-tinymce="tinymceOptions" name="reply" class="reply-input form-control" ng-model="reply.reply_text"></textarea>
    <label class="footnote" for="reply">Note: Your reply or like may not appear immediately after refreshing Nebula.</label>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok(reply)">Submit</button>
</div>

<!--<script>tinymce.init({
    selector: "textarea",
  width:      '100%',
  height:     270,
    plugins:    [ "anchor link" ],
    statusbar:  false,
  menubar:    false,
    //toolbar:    "link anchor | alignleft aligncenter alignright alignjustify",
  rel_list:   [ { title: 'Lightbox', value: 'lightbox' } ]
});</script>-->