<div class="modal-header">
    <h3 class="modal-title">Your Cumulative Nebula Activity Rating</h3>
</div>
<div class="modal-body">
    <!--<div class="rating_container" ng-repeat="rating_data">-->
    <center>
        <div class="rating_bar">
            <div class="rating_segment" style="border-top: 2px solid black; border-left: 2px solid black; border-right: 2px solid black" ng-style="{'background-color': rating_data.color}" ng-hide="rating_data.rank < 3"></div>

            <div class="rating_segment" style="border-top: 2px solid black; border-left: 2px solid black; border-right: 2px solid black" ng-hide="rating_data.rank > 2"></div>

            <div class="rating_segment" ng-style="{'background-color': rating_data.color}" style="border-left: 2px solid black; border-right: 2px solid black" ng-hide="rating_data.rank < 2"></div>

            <div class="rating_segment" style="border-left: 2px solid black; border-right: 2px solid black" ng-hide="rating_data.rank > 1"></div>

            <div class="rating_segment" ng-style="{'background-color': rating_data.color}" style="border-bottom: 2px solid black; border-left: 2px solid black; border-right: 2px solid black"></div>
        </div>
        <p>Participating in Nebula discussions helps you prepare for class discussions. Your Nebula activity score to date is:</p>
        <h3 ng-style="{'color': rating_data.color}" >{{rating_data.message}}</h3>
    </center>
    <!--</div>-->
</div>