    <label>{{map[replyid].obj.user_name}} said:</label>
    <div class="reply-container">
        <div class="reply-box well" ng-hide="editing">
            <p ng-bind-html="map[replyid].obj.message | to_trusted"></p>
        </div>
        <div ng-show="editing">
            <textarea ui-tinymce="tmceo" id="editwindow" class="edit-input form-control" ng-show="editing" ng-hide="!editing" ng-model="reply_text">
            </textarea>
        </div>
    </div>
    <div class="toolbar clearfix">
        <div id="edited-by" class="byline" ng-show="map[replyid].obj.editor_id">
            <span style="color: #4e2a84;font-weight: bold;">Edited</span> on {{map[replyid].obj.updated_at | date}} at {{map[replyid].obj.updated_at | date:'hh:mm:ss a'}}
        </div>
        <div id="created-at" class="byline" ng-hide="map[replyid].obj.editor_id">
            {{map[replyid].obj.created_at | date}} at {{map[replyid].obj.created_at | date:'hh:mm:ss a'}}
        </div>
        <div id="like" class="tbbutton" ng-click="like(reply)" ng-class="{'liked': map[replyid].obj.own_rating == 1 }">
            <span class="glyphicon glyphicon-thumbs-up"></span> {{map[replyid].obj.own_rating == 1 ? "Unlike" : "Like"}}
            <div class="likescount label label-default pull-right" ng-show="map[replyid].obj.rating_sum > 0">{{map[replyid].obj.rating_sum}}</div>
        </div>
        <div id="edit" class="tbbutton" ng-click="edit()" ng-show="credentials.uid == map[replyid].obj.user_id && !editing">
            <span class="glyphicon glyphicon-pencil"></span> Edit
        </div>
        <div id="save" class="tbbutton" ng-click="save(map[replyid].obj)" ng-show="editing">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
        </div>
        <div id="error" class="label label-error pull-right" ng-show="error">
            ERROR SAVING EDIT
        </div>

    </div>
