/*
Copyright 2016 Northwestern University

Licensed under the Apache License, Version 2.0 (the "License"); you may not use
this file except in compliance with the License. You may obtain a copy of the
License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
CONDITIONS OF ANY KIND, either express or implied. See the License for the
specific language governing permissions and limitations under the License.
*/
.legend-box {
  width: 15px;
  height: 15px;
  float: left;
  margin: 4px;
  /*border: 1px solid black;*/
}
.legend-text {
  float: left;
  padding-top: 2px;
  padding-right: 10px;
  text-overflow: ellipsis;
  display:inline-block;
  overflow: hidden;
  white-space:nowrap;
  width: 200px;
}

.legend-panel {
    /*border: 1px solid #000;*/
    width: 225px;
    margin-bottom: 5px;
    border: 0px;
}

.legend-item {
    cursor: pointer;
    padding-top: 5px;
}

#legend-items {
  padding-bottom: 5px;
}

.legend-item:hover > .legend-text {
    text-decoration: underline;
}

.legend-panel {
    position: absolute;
    top: 67px;
    left: 10px;
    z-index: 1000;
    background-color: rgba(252,252,252,0.80);
}

.legend-panel-heading {
  cursor: pointer;
}

.legend-panel-heading.collapsed {
  background: rgba(78,42,132,0.4) !important;
  color: #fff;
  border: 0px;
}

.legend-small .legend-text {
  width: auto;
}
